In [1]:
# Installation of pandas
!pip install pandas

Requirement already satisfied: pandas in d:\data\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\data\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\data\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\data\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\data\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\data\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
# Importing the pandas
import pandas as pd

## Pandas Data Structures
- Series (1D) - it is a 1 Dimensional Labbeled array
- DataFrame (2D) - A 2 Dimensional Table

In [3]:
# Series
data = [10, 20, 30, 40]
series1 = pd.Series(data)

In [4]:
print(series1)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
type(series1)

pandas.core.series.Series

In [6]:
type(data)

list

In [7]:
# specify the index
series = pd.Series(data, index =["a", "b", "c", "d"])
print(series)

a    10
b    20
c    30
d    40
dtype: int64

In [8]:
# DataFrame
data = {
    "Name" : ['Alice', "Bob", "Charlie", "Don"],
    "Age" : [24, 30, 26, 18],
    "Salary" : [5000, 4000, 6000, 7000]
}

In [9]:
data

{'Name': ['Alice', 'Bob', 'Charlie', 'Don'],
 'Age': [24, 30, 26, 18],
 'Salary': [5000, 4000, 6000, 7000]}

In [10]:
# Dataframe
df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   24    5000
1      Bob   30    4000
2  Charlie   26    6000
3      Don   18    7000

# Reading and writing data
- read, write multiple file formats

In [11]:
# Reading CSV Files
csv_data = pd.read_csv("C:/Users/Admin/Desktop/Omdena/Tanzania_CBWP_KIC/Week 5/Resources/movies.csv")
# path = "C:\Users\Admin\Desktop\Omdena\Tanzania_CBWP_KIC\Week 5\Resources\movies.csv"

In [12]:
print(csv_data)

                                   MOVIES         YEAR  \
0                           Blood Red Sky       (2021)
1     Masters of the Universe: Revelation     (2021– )
2                        The Walking Dead  (2010–2022)
3                          Rick and Morty     (2013– )
4                         Army of Thieves       (2021)
...                                   ...          ...
9994                       The Imperfects     (2021– )
9995                               Arcane     (2021– )
9996                    Heart of Invictus     (2022– )
9997                       The Imperfects     (2021– )
9998                       The Imperfects     (2021– )

                                           GENRE  RATING  \
0         \nAction, Horror, Thriller                 6.1
1     \nAnimation, Action, Adventure                 5.0
2          \nDrama, Horror, Thriller                 8.2
3     \nAnimation, Adventure, Comedy                 9.2
4            \nAction, Crime, Horror                 NaN
...                                          ...     ...
9994     \nAdventure, Drama, Fantasy                 NaN
9995  \nAnimation, Action, Adventure                 NaN
9996            \nDocumentary, Sport                 NaN
9997     \nAdventure, Drama, Fantasy                 NaN
9998     \nAdventure, Drama, Fantasy                 NaN

                                               ONE-LINE  \
0     \nA woman with a mysterious illness is forced ...
1     \nThe war for Eternia begins again in what may...
2     \nSheriff Deputy Rick Grimes wakes up from a c...
3     \nAn animated series that follows the exploits...
4     \nA prequel, set before the events of Army of ...
...                                                 ...
9994                                     \nAdd a Plot\n
9995                                     \nAdd a Plot\n
9996                                     \nAdd a Plot\n
9997                                     \nAdd a Plot\n
9998                                     \nAdd a Plot\n

                                                  STARS    VOTES  RunTime  \
0     \n    Director:\nPeter Thorwarth\n| \n    Star...   21,062    121.0
1     \n            \n    Stars:\nChris Wood, \nSara...   17,870     25.0
2     \n            \n    Stars:\nAndrew Lincoln, \n...  885,805     44.0
3     \n            \n    Stars:\nJustin Roiland, \n...  414,849     23.0
4     \n    Director:\nMatthias Schweighöfer\n| \n  ...      NaN      NaN
...                                                 ...      ...      ...
9994  \n            \n    Stars:\nMorgan Taylor Camp...      NaN      NaN
9995                                                 \n      NaN      NaN
9996  \n    Director:\nOrlando von Einsiedel\n| \n  ...      NaN      NaN
9997  \n    Director:\nJovanka Vuckovic\n| \n    Sta...      NaN      NaN
9998  \n    Director:\nJovanka Vuckovic\n| \n    Sta...      NaN      NaN

     Gross
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
9994   NaN
9995   NaN
9996   NaN
9997   NaN
9998   NaN

[9999 rows x 9 columns]

In [ ]:
# Reading an Excel file
excel_data = pd.read_excel("C:/Users/Admin/Desktop/Omdena/Tanzania_CBWP_KIC/Week 5/Resources/electricity_consumption.xlsx")